Makefile
Makefile.in
aclocal.m4
autom4te.cache/
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
m4/
missing
src/.deps/
src/.libs/
src/Makefile
src/Makefile.in
src/dhash.lo
src/dhash.o
src/libdhash.la
stamp-h1
